/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.videos-container {
    display: block;
    position: relative;
    padding: 130px 25px 15px 25px;
    background-image: -o-linear-gradient(bottom, rgb(0, 0, 0), rgb(128, 0, 0));
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(0, 0, 0)), to(rgb(128, 0, 0)));
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgb(128, 0, 0));
    z-index: 1;
    min-height: 100vh;
}

.videos-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
}

.iframe-container{
    position: relative;
    width: 100%; 
    overflow: hidden;
    padding-top: 56.25%;  /* Ratio 16:9 (9 / 16 = 0.5625) */
}

.video-frame {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.video-thumbnail{
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
    margin: 10px 0;
}

.video-thumbnail-container{
    position: relative;
    cursor: pointer;
    
    width: 100%;
}

.video-thumbnail-player{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px;
    opacity: 0.6;
}

.video-thumbnail-player-icon{
    color: white;
    font-size: 55px;
    -webkit-transition: "opacity 0.3s ease-in-out";
    -o-transition: "opacity 0.3s ease-in-out";
    transition: "opacity 0.3s ease-in-out";
    opacity: 0.5;
}

.video-thumbnail-player-icon:hover{
    color: white;
    opacity: 0.9;
}

@media only screen and (min-width:990px) {
    .videos-container {
        padding: 130px 200px 15px 200px;
    }
}